nav{
	vertical-align: middle;
}
ul{
	display: inline-block;
}
li{
	display: inline-block;
}
.logo{
	width: 100.18px;
	height: 30.57px;
	margin-right:0;
}
.date{
	display: block;
	font-size: 48px;
    color: #ffff;
    background: #3D58A6;
    width: 52px;
    height: 64px;
}
a{
	text-decoration: none;
}
.logo-facebook{
	width: 14px;
	height: 30px;
	border-right-style: solid;
}
.box{
	display: inline-block;
}
.text{
    display: inline-block;
    width: 929.02px;
    height: 360px;
}
.poto{
	width: 270px;
	height: 210px;
}
.left-block-box{
	display: inline-block;
	width: 50%;
	max-width: 570px;
	background: #F2F2F2;
}
.right-block-box{
	display: inline-block;
	width: 50%;
	max-width: 570px;
	background: #F2F2F2;
}
.block-content p{
	display: inline-block;
	width: 355px;
	vertical-align: top;
}
.block-content img{
	display: inline-block;
	width: 102px;
	height: 145PX;
	margin-right: 51px;
	padding: 20px; 
}
.left-box{
	display: inline-block;
	margin-top: 0;
}
.right-box{
	display: inline-block;
	width: 50%;
}
.bg-color{
	background: #E6E6E6;
}
